// default theme
html[data-theme='Default'] {
	--df-primary-bg: #f5f6fa;
	--df-primary-theme: #f5f6fa;
	--df-white: #ffffff;
	--df-black: #000;
	--df-blue: #024f9d;

	.df-btn {
		cursor: pointer;
	}

	.df-back-btn-container {
		background: var(--df-primary-bg);

		.df-back-btn {
			color: var(--df-blue);
			background: var(--df-white);
		}

		.df-close-btn {
			background: var(--df-blue);
			color: var(--df-white);

			img {
				filter: invert(1);
			}
		}
	}
}

html[layout='joy'] {
	--df-primary-bg: #E9E8D9;
	--df-primary-color: #024f9d;
	--df-white: #ffffff;
	--df-black: #000;
	--df-light-blue: #cce4ff;
	--df-light-grey: #cccccc;
	--df-gray-200: #999999;
	--df-pink: #ef64af;

	//  border radius
	--df-bradius: 0.125rem;
	--df-bradius-xs: calc(var(--df-bradius) * 4);
	/* 8 value */
	--df-bradius-sm: calc(var(--df-bradius) * 8);
	/* 16 value */
	--df-bradius-md: calc(var(--df-bradius) * 12);
	/* 24 value */
	--df-bradius-lg: calc(var(--df-bradius) * 16);
	/* 32 value */

	//box-shadow
	--df-box-shadow-black: rgba(0, 0, 0, 0.1);
	--df-box-shadow-6px: 0.375rem 0.375rem 0.125rem 0 var(--df-box-shadow-black);
	--df-box-shadow-3px: 0.1875rem 0.1875rem 0.125rem 0 var(--df-box-shadow-black);
	--df-box-shadow: rgba(128, 167, 206, 1);

	.df-btn {
		border-radius: var(--df-bradius-md) !important;
		height: 2.5rem;
		box-shadow: var(--df-box-shadow-6px);
		border: 0px;
		padding: 0.5rem 1.5rem !important;
		cursor: pointer;
	}

	.df-back-btn-container {
		background: var(--df-primary-bg);
		border-radius: var(--df-bradius-md);
		padding: 0 1rem;
		z-index: 2;

		.df-back-btn {
			margin-left: 0.25rem;
			background: var(--df-white);
		}

		.df-close-btn {
			background: var(--df-pink);
			color: var(--df-white);
		}
	}

	.discussion-forum {
		.discuss-left-panel {
			background: var(--white);
			border-radius: var(--df-bradius-md);
			padding: 1.5rem !important;
			margin-right: 1.5rem;

			@media (max-width: 768px) {
				margin-right: 0;
				padding: 1rem;
				margin-bottom: 1rem;
			}

			.df-sidebar-menu-list:hover,
			.menu-active {
				background: var(--df-primary-bg) !important;
				font-weight: 700;
				border-left: 0.1875rem solid var(--df-primary-color);
				color: var(--df-primary-color);
			}

			.df-sidebar-menu-list:hover {
				background: var(--df-primary-bg) !important;
				font-weight: 700;
				color: var(--df-primary-color);
			}
		}

		.discuss-right-panel {
			background: var(--df-primary-bg);
			border-radius: var(--df-bradius-md);

			@media (max-width: 768px) {
				padding: 1rem;
			}

			/* start discussion modal */
			.discussion-start-modal .discussion-start-modal-content {
				.discussion-start-form .start-form-field .start-form-field-control {
					border-radius: var(--df-bradius-md);
					padding-left: 1rem;
				}
			}

			.ng2-tag-input {
				border-radius: var(--df-bradius-md);
				padding: 0.25rem 1rem 0 1rem;
				font-size: 0.875rem;
				border: .0625rem solid var(--df-gray-200);
			}

			.ng2-tag-input.ng2-tag-input--focused {
				border-color: var(--df-primary-color);
				border-bottom: 0.0625rem solid;
			}


			.df-dimmer-alert-modal .df-alert-modal {
				border-radius: var(--df-bradius-md);
				background: var(--df-primary-bg);
				color: var(--df-black);

				.df-alert-modal-header {
					background: var(--df-primary-bg);
					color: var(--df-white);
					padding: 1.5rem 1.5rem .5rem;
				}

				.df-alert-modal-buttons {
					background: var(--df-primary-bg);
					padding: .5rem 1.5rem 1.5rem;
					border-top: 0 solid var(--df-light-grey);
				}
			}
		}
	}

	html[dir='rtl'] .discussion-forum .discuss-left-panel {
		margin-left: 1.5rem;
		margin-right: inherit;
	}
}

//dark-theme in joyful
html[data-theme='Darkmode'][layout='joy'] {
	--df-primary-color: #ffd92a;
	--primary-theme: #ffd92a;
	--df-primary-bg: #333333;
	--df-white: #ffffff;
	--df-black: #000;
	--df-444-color: #444;
	--df-light-grey: #cccccc;

	//  border radius
	--df-bradius: 0.125rem;
	--df-bradius-xs: calc(var(--df-bradius) * 4);
	/* 8 value */
	--df-bradius-sm: calc(var(--df-bradius) * 8);
	/* 16 value */
	--df-bradius-md: calc(var(--df-bradius) * 12);
	/* 24 value */
	--df-bradius-lg: calc(var(--df-bradius) * 16);
	/* 32 value */

	//box-shadow
	--df-box-shadow-black: rgba(0, 0, 0, 0.1);
	--df-box-shadow-6px: 0.375rem 0.375rem 0.125rem 0 var(--df-box-shadow-black);
	--df-box-shadow-3px: 0.1875rem 0.1875rem 0.125rem 0 var(--df-box-shadow-black);
	--df-box-shadow: rgba(128, 167, 206, 1);

	// Discussion Forum

	.df-btn {
		border-radius: var(--df-bradius-md) !important;
		height: 2.5rem;
		box-shadow: var(--df-box-shadow-6px);
		border: 0px;
		cursor: pointer;
	}

	.df-back-btn-container {
		background: var(--df-primary-bg);
		border-radius: var(--df-bradius-md);
		z-index: 2;
		position: relative;

		@media (max-width: 768px) {
			padding: .5rem;
		}

		.df-back-btn {
			color: var(--df-white);
			background: var(--df-primary-color);

			img {
				filter: invert(1);
			}
		}

		.df-close-btn {
			background: var(--df-primary-color);
			color: var(--df-white);

			img {
				filter: invert(1);
			}
		}
	}

	.discussion-forum {

		.discuss-left-panel {
			background: var(--df-primary-bg);
			border-radius: var(--df-bradius-md);

			@media (max-width: 768px) {
				padding: 1rem;
				margin: 1rem 0;
			}

			.sb-sidebar-menu {
				li {
					color: var(--df-white);
				}

				li.menu-active,
				li:hover {
					background-color: var(--df-primary-color) !important;
					border-left: 0.1875rem solid var(--df-white);
					color: var(--df-black);
				}
			}
		}

		.discuss-right-panel {
			background: var(--df-primary-bg);
			border-radius: var(--df-bradius-md);

			.discussion-start-modal .discussion-start-modal-content {
				background: var(--df-primary-bg);

				.discussion-start-form {
					.start-form-field .start-form-field-control {
						background: var(--df-black);
						color: var(--df-white);
						outline: none;
					}

					.start-modal-buttons {
						.discard-btn {
							color: var(--df-primary-color);
							background: var(--df-black);
						}

						.submit-post-btn {
							background: var(--df-primary-color);
							color: var(--df-black);
						}

						.df-btn-disabled {
							background: var(--gray-100);
						}
					}
				}
			}

			.df-dimmer-alert-modal .df-alert-modal {
				border-radius: var(--df-bradius-md);
				background: var(--df-primary-bg);
				color: var(--df-white);

				.df-alert-modal-header {
					background-color: var(--df-primary-bg);
					color: var(--df-white);
					padding: 1.5rem 1.5rem .5rem;
				}

				.df-alert-modal-buttons {
					padding: .5rem 1.5rem 1.5rem;
					border-top: 0 solid var(--df-light-grey);
					background: var(--df-primary-bg);

					.df-alert-close-btn {
						background-color: var(--df-primary-color);
						border-color: var(--df-primary-color);
						color: var(--df-black);
					}
				}
			}

			tag-input-form,
			tag-input-form form,
			.ng2-tag-input__text-input {
				width: 100%;
			}

			.ng2-tag-input__text-input {
				background: var(--df-black);
				color: var(--df-white);
			}

			.ui.icon.message {
				background: var(--df-444-color);

				i.notched.circle.loading.icon {
					color: var(--df-white);
				}

				.header {
					color: var(--df-white);
				}
			}

			p {
				color: var(--df-white);
			}

			.df-filter-option {
				border: none;
				background: var(--df-444-color);
				color: var(--df-white);
			}

			.tabs-active {
				color: var(--df-black);
				background: var(--df-primary-color);
			}

			.df-filter-option:hover {
				color: var(--df-black);
				background: var(--df-primary-color);
			}

			.category-card,
			.discuss-card-content,
			.discussion-details,
			.profileCard,
			.related-discuss-card {
				background: var(--df-black);
			}

			.catergory-card-header-image {
				border-color: var(--df-white);
			}

			.category-card-header-label,
			.category-card-header-text,
			.category-card-main-content,
			.discuss-card-title,
			.discuss-card-label,
			.discuss-user-label,
			.timing,
			.votes-content span,
			.views-content span,
			.discussion-card-title,
			.discussion-heading,
			.discussion-labels,
			h3.fs-1.font-weight-bold,
			.no-data-label,
			.profile-label,
			.fnormal .flex-custom-m,
			.post-name,
			.post-time,
			.post-labels,
			.reply-area,
			.reply-btn,
			.width-expand,
			div.my-24.fnormal,
			.related-discuss-card-content,
			.category-name,
			label,
			div.time {
				color: var(--df-white);
			}

			.separator-dot {
				background-color: var(--df-white);
			}

			lib-post-reply {
				textarea {
					background: var(--df-444-color);
					color: var(--df-white);
				}
			}

			.post-btn {
				background: var(--df-primary-color);
				color: var(--df-black);

				&.sb-btn-disabled {
					background-color: var(--gray-100);
				}
			}

			.comments-area {
				img {
					filter: invert(1);
				}

				span {
					color: var(--df-white);
				}
			}

			.comments-count {
				color: var(--df-primary-color);
			}

			.eye-icon,
			.discuss-card-label img,
			.votes-content img,
			.views-content img,
			span.cursor-pointer img,
			.category-card-img,
			.reply-area img {
				filter: invert(1);
			}
		}
	}
}

//dark-theme in default
html[data-theme='Darkmode'][layout='old'] {
	--df-primary-color: #ffd92a;
	--primary-theme: #ffd92a;
	--df-primary-bg: #333333;
	--df-white: #ffffff;
	--df-black: #000;
	--df-444-color: #444;

	// Discussion Forum

	.df-btn {
		cursor: pointer;
	}

	.df-back-btn-container {
		background: var(--df-primary-bg);
		z-index: 2;

		.df-back-btn {
			color: var(--df-white);
			background: var(--df-primary-color);

			img {
				filter: invert(1);
			}
		}

		.df-close-btn {
			background: var(--df-primary-color);
			color: var(--df-white);

			img {
				filter: invert(1);
			}
		}
	}

	.discussion-forum {

		.discuss-left-panel {
			background: var(--df-primary-bg);

			.sb-sidebar-menu {
				li {
					color: var(--df-white);
				}

				li.menu-active,
				li:hover {
					background-color: var(--df-primary-color) !important;
					border-left: 0.1875rem solid var(--df-white);
					color: var(--df-black);
				}
			}
		}

		.discuss-right-panel {
			background: var(--df-primary-bg);

			.df-dimmer-alert-modal .df-alert-modal {
				background: var(--df-primary-bg);
				color: var(--white);

				.df-alert-modal-header {
					color: var(--df-black);
				}

				.df-alert-modal-buttons {
					background: var(--df-primary-bg);

					.df-alert-close-btn {
						background-color: var(--df-primary-color);
						border-color: var(--df-primary-color);
						color: var(--df-black);
					}
				}
			}

			.category-card,
			.discuss-card-content,
			.discussion-details,
			.profileCard,
			.related-discuss-card {
				background: var(--df-black);
			}

			.catergory-card-header-image {
				border-color: var(--df-white);
			}

			.category-card-header-label,
			.category-card-header-text,
			.category-card-main-content,
			.discuss-card-title,
			.discuss-card-label,
			.discuss-user-label,
			.timing,
			.votes-content span,
			.views-content span,
			.discussion-card-title,
			.discussion-heading,
			.discussion-labels,
			h3.fs-1.font-weight-bold,
			.no-data-label,
			.profile-label,
			.fnormal .flex-custom-m,
			.post-name,
			.post-time,
			.post-labels,
			.reply-area,
			.reply-btn,
			.width-expand,
			div.my-24.fnormal,
			.related-discuss-card-content,
			.category-name,
			label,
			div.time {
				color: var(--df-white);
			}

			.separator-dot {
				background-color: var(--df-white);
			}

			lib-post-reply {
				textarea {
					background: var(--df-444-color);
					color: var(--df-white);
				}
			}

			.post-btn {
				background: var(--df-primary-color);
				color: var(--df-black);

				&.sb-btn-disabled {
					background-color: var(--gray-100);
				}
			}

			.comments-area {
				img {
					filter: invert(1);
				}

				span {
					color: var(--df-white);
				}
			}

			.comments-count {
				color: var(--df-primary-color);
			}

			.eye-icon,
			.discuss-card-label img,
			.votes-content img,
			.views-content img,
			span.cursor-pointer img,
			.category-card-img,
			.reply-area img {
				filter: invert(1);
			}

			.discussion-start-modal .discussion-start-modal-content {
				background: var(--df-primary-bg);

				.discussion-start-form {
					.start-form-field .start-form-field-control {
						background: var(--df-black);
						color: var(--df-white);
						outline: none;
					}

					.start-modal-buttons {
						.discard-btn {
							color: var(--df-primary-color);
							background: var(--df-black);
						}

						.submit-post-btn {
							background: var(--df-primary-color);
							color: var(--df-black);
						}

						.df-btn-disabled {
							background: var(--gray-100);
						}
					}
				}
			}

			tag-input-form,
			tag-input-form form,
			.ng2-tag-input__text-input {
				width: 100%;
			}

			.ng2-tag-input__text-input {
				background: var(--df-black);
				color: var(--df-white);
			}

			.ui.icon.message {
				background: var(--df-444-color);

				i.notched.circle.loading.icon {
					color: var(--df-white);
				}

				.header {
					color: var(--df-white);
				}
			}

			p {
				color: var(--df-white);
			}

			.df-filter-option {
				border: none;
				background: var(--df-444-color);
				color: var(--df-white);
			}

			.tabs-active {
				color: var(--df-black);
				background: var(--df-primary-color);
			}

			.df-filter-option:hover {
				color: var(--df-black);
				background: var(--df-primary-color);
			}
		}
	}
}

// New DF theme
// :root {

// 	// Base Theme color
// 	--blue: #024f9d;
// 	--green: #008840;
// 	--orange: #e55a28;
// 	--red: #ff4558;
// 	--indigo: #6610f2;
// 	--purple: #6f42c1;
// 	--pink: #e83e8c;
// 	--yellow: #ffc107;
// 	--teal: #20c997;
// 	--cyan: #17a2b8;
// 	--black: #000000;
// 	--white: #ffffff;

// 	// Base Theme color variations
// 	--primary: var(--blue);
// 	--secondary: #008840;
// 	--tertiary: #e55a28;

// 	// gray colors shades
// 	--gray-0: #f2f2f2; // place holder active bg #F2F2F2
// 	--gray-100: #cccccc; // disable btn bg, icon color #CCCCCC
// 	--gray-200: #999999; // disable text, place holder text #999999
// 	--gray-300: #969696; // sub heading 2 #969696
// 	--gray-400: #999999; // sub heading #666666
// 	--gray-600: #222222; // Dark theme menu bg color
// 	--gray-800: #333333; // text color #333333

// 	// primary colors
// 	--primary-0: #f3f7fa; // bg
// 	--primary-100: #edf4f9; // default button bg
// 	--primary-200: #80a7ce; // divider
// 	--primary-250: #d3e7f4; //pagination bg color
// 	--primary-300: #7ab4ee; // outline, focus fields
// 	--primary-400: var(--primary); // button bg, heading, table titles, links, toggles
// 	--primary-600: #005391; // on press
// 	--primary-800: #002e50; // hover

// 	// secondary colors
// 	--secondary-0: #e1ffdf; // toast bg, label
// 	--secondary-100: #00c786; // button bg bg, toast
// 	--secondary-200: #07bc81; // button bg
// 	--secondary-400: var(--secondary); // hover

// 	// tertiary colors
// 	--tertiary-0: #feedd7; // toast bg, label
// 	--tertiary-100: #ffa11d; // buttong bg, toast
// 	--tertiary-400: var(--tertiary); // icon, label, notification bg

// 	// red colors
// 	--red-0: #fbccd1; // toast bg
// 	--red-100: #ff6979; // buttong bg, toast
// 	--red-400: var(--red); // icon color, lable, notification

// 	// fonts
// 	--font-default-size: 0.875rem;
// 	--font-size-base: var(--font-default-size); // 14px Assumes the browser default, typically `16px`
// 	--font-weight-light: 300;
// 	--font-weight-normal: 400;
// 	--font-weight-bold: 700;
// 	--line-height-base: calc(var(--font-size-base) * 1.61803398875);
// 	--h1-font-size: 2rem; // 32px
// 	--h2-font-size: 1.75rem; // 28px
// 	--h3-font-size: 1.5rem; // 24px
// 	--h4-font-size: 1.2rem; // 20px
// 	--h5-font-size: 1rem; // 16px
// 	--h6-font-size: var(--font-size-base); // 14px
// 	--font-size-lg: var(--h4-font-size); //20px
// 	--font-size-md: var(--h5-font-size); // 16px
// 	--font-size-normal: var(--font-size-base); // 14px
// 	--font-size-sm: 0.75rem; // 12px
// 	--font-size-xs: 0.625rem; // 10px
// 	--p-font-size: var(--font-size-base); //14px
// }

// // Green Theme
// html[data-theme='Green'] {
// 	--primary: #008a40;
// 	--primary-0: #f0faf1;
// 	--primary-100: #d5e9d7;
// 	--primary-200: #AFCAB1;
// 	--primary-300: #74B48B;
// 	--primary-400: var(--primary);
// 	--primary-800: #0b8242;

// }

// // Orange Theme
// html[data-theme='Orange'] {
// 	--primary: #E7800B;
// 	--primary-100: #ffe081;
// 	--primary-200: #D4A56F;
// 	--primary-300: #FFB561;
// 	--primary-400: var(--primary);
// 	--primary-800: #e77b00;
// }

// html[data-theme='Default'],
// html[data-theme='Green'],
// html[data-theme='Orange'] {

// 	--df-alt-clr-fff-333: var(--white);

// 	// Text Color
// 	--df-text: var(--gray-800);
// 	--df-text-primary: var(--primary);

// 	// Cards
// 	--df-card-bg: var(--white);

// 	// Filter option
// 	--df-filt-opt-brd: var(--gray-400);

// 	// Form fields
// 	--df-form-field-bg: var(--white);
// }

// html[data-theme='Darkmode'] {
// 	// Dark Theme color variation
// 	--primary: #ffd92a;
// 	--primary-0: #fffcee;
// 	--primary-100: #fff8db; // default button bg
// 	--primary-200: #fffd2a; // divider
// 	--primary-250: #f1f1c7;
// 	--primary-300: #ffeb2a; // outline, focus fields
// 	--primary-400: var(--primary); // button bg, heading, table titles, links, toggles
// 	--primary-600: #ffc72a; // on press
// 	--primary-800: #ffb62a; // hover

// 	--secondary: #ffd92a;
// 	--secondary-200: #ffd92a;

// 	//   For portal override
// 	--df-alt-clr-fff-333: #333333;

// 	// Text Color
// 	--df-text: var(--white);
// 	--df-text-primary: var(--primary);

// 	// Cards
// 	--df-card-bg: var(--df-alt-clr-fff-333);

// 	// Filter option
// 	--df-filt-opt-brd: var(--gray-400);

// 	// Form fielda
// 	--df-form-field-bg: var(--gray-600);

// }

// html[layout='joy'][data-theme='Default'] {
// 	--df-alt-clr-fff-333: #E9E8D9;

// 	// Cards
// 	--df-card-bg: var(--white);
// }

// html[layout='joy'][data-theme='Darkmode'] {
// 	--df-alt-clr-fff-333: #333;
// }

// // Styles inside DF
// lib-lib-entry {

// 	// Top Back btn
// 	.df-back-btn-container,
// 	.tag-empty-container,
// 	.kabab-menu-dropdown-content,
// 	.discussion-details {
// 		background: var(--df-alt-clr-fff-333) !important;
// 	}

// 	.df-close-btn {
// 		background: var(--primary) !important;
// 		color: var(--df-alt-clr-fff-333) !important;
// 	}

// 	.df-back-btn {
// 		background: var(--df-alt-clr-fff-333) !important;
// 		color: var(--primary) !important;
// 	}

// 	// Sidebar Menu
// 	.sb-sidebar-menu li.df-sidebar-menu-list {
// 		color: var(--df-text) !important;
// 	}

// 	.sb-sidebar-menu li.df-sidebar-menu-list.menu-active {
// 		background-color: var(--df-alt-clr-fff-333) !important;
// 		color: var(--primary) !important;
// 		border-left-color: var(--primary) !important;
// 	}

// 	// Cards
// 	.category-card,
// 	.discuss-card-content,
// 	.related-discuss-card,
// 	.profileCard {
// 		color: var(--df-text) !important;
// 		background: var(--df-card-bg) !important;
// 	}

// 	.category-card-header-label,
// 	.discuss-card-title,
// 	.discuss-user-label,
// 	.mobile,
// 	.time,
// 	.tag-empty-container .tag-empty-label,
// 	.tag-empty-container .tag-empty-text,
// 	.profile-label,
// 	.discussion-details {
// 		color: var(--df-text) !important;
// 	}

// 	.discuss-card-label,
// 	.comments-count {
// 		color: var(--primary) !important;
// 	}

// 	.category-card-main-content {
// 		color: var(--gray-400) !important;
// 	}

// 	.timing {
// 		color: var(--df-gray-200) !important;
// 	}

// 	.dot {
// 		background: var(--gray-400) !important;
// 	}

// 	.filter-option {
// 		color: var(--df-text) !important;
// 		border-bottom-color: var(--df-filt-opt-brd);

// 		&:hover,
// 		&.tabs-active {
// 			color: var(--df-text-primary);
// 			border-bottom-color: var(--primary);
// 		}
// 	}

// 	.text-content {
// 		background: var(--df-form-field-bg);
// 	}
// }

// html[data-theme='Darkmode'] {

// 	lib-lib-entry {
// 		img {
// 			filter: invert(1);
// 		}

// 		.df-close-btn img {
// 			filter: unset;
// 		}

// 		.sb-btn-primary {
// 			color: var(--gray-800) !important;
// 		}
// 	}
// }

// html[layout='joy'] {

// 	lib-lib-entry {

// 		.df-back-btn-container,
// 		.discussion-forum .discussion-forum-content .discuss-left-panel,
// 		.df-btn {
// 			border-radius: 24px !important;
// 		}

// 		.df-back-btn-container .df-btn-container,
// 		.discussion-forum .discussion-forum-content .discuss-left-panel {
// 			padding: 24px !important;
// 		}

// 		.discussion-forum .discussion-forum-content .discuss-left-panel {
// 			background: var(--df-alt-clr-fff-333);
// 		}

// 		.sb-sidebar-menu li.menu-active {
// 			border-left-color: transparent !important;
// 		}

// 		.df-btn {
// 			padding: 10px 16px !important;
// 			height: auto;
// 		}
// 	}
// }